<div class="about-the-author">
  <h3 class="author-title">Who is Durae?</h3>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="author-image">
        <img src="https://i.imgur.com/ZFwc9Wx.jpg">
      </div>
      <div class="author-social">
        <a href="#">
          <span class="fa-stack fa-lg facebook">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg twitter">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg linkedin">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="small-12 medium-8 columns">
      <h4 class="separator-left">Durae</h4>
      <p>Durae is Catholic youth service team currently serving Korean-American parishes in the New York diocese. Our mission is to encourage and inspire a spiritual life for youth, providing resources for youth to encounter God's love through the Holy Spirit</p>
      <br>
      <p>We primarily focus on serving the high school youth to encourage and to inspire their faith. Our spiritual director Fr. Lee from St. Mel's Church in flushing, NY. His vision and experieces in working with the youth provides invaluable guidance and resources.</p>
    </div>
  </div>
</div>
